.row {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inner-row {
  background-color: #393e46;
  width: 90%;
  margin: auto;
}

.client-delete {
  height: 40px;
  display: float;
  position: absolute;
  right: 8%;
  margin-top: 10px;
  font-size: 25px;
  background-color: #dfcdc3;
  border-radius: 40%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.inner-row img {
  margin-top: 10px;
}

.inner-row h3 {
  margin: 0;
}

@media screen and (min-width: 540px) {
  .inner-row {
    height: 120px;
  }

  .inner-row img {
    margin: 10px;
    float: left;
  }

  .row-text {
    padding: 30px;
  }
}
