.ClientPage h3,
p {
  text-align: center;
}
.ClientPage h3 {
  margin: 0;
}
.client-header {
  background-color: #414141;
  height: 150px;
  width: 100%;
  margin: 0;
  padding: 20px;
  position: absolute;
  color: white;
  text-align: center;
}

.contact-info {
  position: relative;
  background-color: #393e46;
  max-width: 350px;
  padding: 20px;
  margin: auto;
  top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clients-tattoos a {
  text-decoration: none;
}
.contact-info p {
  margin: 0;
}

.clients-tattoos {
  margin-top: 100px;
}
.ClientStarRating {
  display: inline;
}

.Client_button-container {
  margin: auto;
  width: 90px;
}
