.tile {
  width: 255px;
  height: 255px;
  background-color: #0d7377;
  text-align: center;
  margin: 25px;
  border: 5px solid #0d7377;
  border-radius: 15px;
  display: inline-flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile img {
  padding: 0;
  border-radius: 15px;
  width: 100%;
}

.tile h3,
h4 {
  padding: 0;
  margin: 0;
}

.tile h4 {
  color: #212121;
}

.tile h3 {
  color: white;
}
