.box {
  text-align: center;
  padding-left: 20px;
}

.box h3 {
  margin: 0;
}

.icon {
  display: inline-flex;
  align-items: baseline;
  align-content: stretch;
  margin: 0;
}

.icon p {
  width: 250px;
  text-align: center;
}
@media screen and (min-width: 450px) {
}
