.home a {
  text-decoration: none;
}

.calendar-section {
  background-color: #323232;
  text-align: center;
}

.calendar-section img {
  margin: 10px;
  width: 90%;
  max-width: 1090px;
}

.icon-row {
  text-align: center;
}
/* Calendar Styling */
.calendar {
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.fc-unthemed td.fc-today {
  opacity: 0.2;
}

.fc-content {
  font-size: 80%;
}
.fc-event,
.fc-event-dot {
  border: 1px outset #14ffec !important;
  background-color: #0d7377 !important;
}

.fc-toolbar.fc-header-toolbar {
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  width: 200px;
}

.fc-list-heading td {
  background-color: #0d7377 !important;
}
.fc-view-container * {
  padding-right: 5px;
}

/* Event Details Styling  */
.details {
  background-color: #414141;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  height: 280px;
}

@media screen and (min-width: 450px) {
  .calendar-section img {
    margin: 50px;
    width: 80%;
  }
}
@media screen and (min-width: 720px) {
  .fc-toolbar.fc-header-toolbar {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  /* set the event section to go to the side when the screen is big enough */
}
