.home a {
  text-decoration: none;
}

.calendar-section {
  background-color: #323232;
  text-align: center;
}

.calendar-section img {
  margin: 10px;
  width: 90%;
  max-width: 1090px;
}
.close-btn {
  padding: 0.05px;
  border-radius: 100%;
  top: 10px;
  position: absolute;
  right: 4%;
  background-color: #dfcdc3;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.close-btn-font:hover {
  color: red;
}
.event-delete:hover {
  color: red;
}
.event-delete {
  text-align: center;
  padding: 3px;
  right: 8%;
  margin-left: 0;
  font-size: 20px;
  background-color: #dfcdc3;
  border-radius: 30%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.home-icon-btn:hover {
  position: relative;
  top: -20px;
}

.icon-row {
  text-align: center;
}
/* Calendar Styling */
.calendar {
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.fc-unthemed td.fc-today {
  opacity: 0.2;
}

.fc-content {
  font-size: 80%;
  z-index: 200;
}
.fc-event,
.fc-event-dot {
  border: 1px outset #14ffec !important;
  background-color: #0d7377 !important;
}

.fc-toolbar.fc-header-toolbar {
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  width: 200px;
}

.fc-list-heading td {
  background-color: #0d7377 !important;
}
.fc-view-container * {
  padding-right: 5px;
}

/* Styling to put calendar behind modal */
.fc-view > table {
  z-index: 0;
}
.fc-button-group {
  z-index: 0;
}
.fc-button-group > .fc-button:focus,
.fc-button-group > .fc-button:active,
.fc-button-group > .fc-button.fc-button-active {
  z-index: 0;
}

/* Event Details Styling  */
.event-details {
  background-color: black;
  margin: 0;
  height: fit-content;
  text-align: center;
  padding-bottom: 10px;
}
.event-details h3 {
  padding-top: 15px;
}

.Modal {
  position: relative;
  height: fit-content;
  margin: auto;
  top: 15%;
  max-width: 90%;
  /* z-index: 5000; */
  background-color: black;
  outline: transparent;
  /* opacity: 100; */
}
.Modal select {
  padding: 5px;
  margin: 10px 225px 15px 15px;
  clear: right;
}

.add-event {
  padding: 30px;
}

.add-event-form {
  padding: 10px;
}
.submit-btn {
  text-align: center;
  margin-left: 37%;
  margin-bottom: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .react-dropdown-style {
  padding: 0;
  margin: 0; */
/* color: black; */
/* }
.css-yk16xz-control {
  margin: 0;
  padding: 0;
}
.css-1hwfws3 {
  margin: 0;
  padding: 0; */
/* width: 200px;
  height: 100px; */

@media screen and (min-width: 450px) {
  .calendar-section img {
    margin: 50px;
    width: 80%;
  }
  .Modal {
    max-width: fit-content;
  }
  .event-details {
    min-width: 150px;
    padding: 25px;
  }
  .event-info-display {
    max-width: 450px;
    margin: 0;
  }
  .add-event-form {
    padding: 30px;
    width: 450px;
    height: 100%;
  }
  .modal-btn {
    margin: 50px;
  }
}
@media screen and (min-width: 720px) {
  .fc-toolbar.fc-header-toolbar {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  /* set the event section to go to the side when the screen is big enough */
}
