.Header {
  height: 100px;
  text-align: center;
  background-image: linear-gradient(black, #212121);
}
.Header h1 {
  margin: 0;
  padding-top: 15px;
  text-align: center;
}

.Header_loggedIn {
  display: inline-flex;
}

.Header h1 a {
  text-decoration: none;
}

.links {
  color: white;
  padding-right: 0.8em;
  padding-top: 1em;
}
.menu-item {
  padding: 10px;
}

.menu-icon {
  padding-top: 10px;
  margin: 10px;
}

.Header_loggedIn {
  padding-top: 10px;
}

@media screen and (min-width: 680px) {
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .Header h1 {
    font-size: 22pt;
    margin-left: 20px;
  }
  .Header a {
    padding-bottom: 10px;
  }
  .links {
    padding-right: 35px;
  }
  .Header_loggedIn {
    margin-right: 20px;
  }
}
@media screen and (min-width: 617px) {
  .Header {
    height: 80px;
  }
}
