.Header {
  height: 80px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  background: black;
}
.Header h1 {
  margin: 0;
  padding-left: 100px;
  padding-top: 15px;
  color: #ca3e47;
}

.Header h1 a {
  text-decoration: none;
}

.links {
  color: white;
  padding-right: 0.8em;
  padding-top: 1em;
}
.Header a {
}
@media screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
  }
  .Header h1 {
    font-size: 22pt;
  }
  .Header a {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .links {
    padding-right: 35px;
  }
}
